.wrapper {
  height: 100vh;
  width: 100%;
  background: var(--bg-1);

  display: flex;
  justify-content: center;
  align-items: center;

  .todo-container {
    width: 750px;
    height: 100vh;
    padding: 15px;
    // border: 1px solid red;
    // overflow: hidden;

    .titile {
      h1 {
        text-align: center;
        color: var(--black-1);
        font-weight: 600;
        font-size: 30px;
      }
    }

    .add-todo-form {
      //   border: 1px solid green;
      background-color: var(--bg-2);
      padding: 15px 10px;
      form {
        display: flex;
        justify-content: space-between;
        gap: 5px;

        label {
          font-size: 14px;
          font-weight: 400;
          color: var(--black-2);
        }

        .add-task-btn {
          align-self: flex-end;
        }

        .task-name {
          flex: 5;
        }
        .due-date {
          flex: 2;
        }
        .priority {
          flex: 2;
        }
        button {
          flex: 1;
        }
      }
    }

    .filter {
      width: 20%;
      select {
        // background-color: var(--bg-1);
      }
    }
    // todo-content-wrapper css
    .todo-content-wrapper {
      //   width: 100%;

      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        background: var(--bg-2);
        border-radius: 10px;
        height: 65vh;
        overflow-x: hidden;
        overflow-y: scroll;
        color: var(--black-2);

        &:hover {
          //   overflow-y: scroll;
        }

        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: var(--white);
          padding: 5px 10px;
          border-radius: 5px;

          &:hover {
            background-color: var(--gray-2);
          }

          button {
            background-color: var(--bg-1);
          }

          .left-side {
            display: flex;
            gap: 15px;
            align-items: center;

            .left-side-content {
              p {
                font-size: 14px;
              }
              .date {
                font-size: 11px;
                color: var(--black-1);
                font-weight: 500;
              }
              .priority {
                font-size: 11px;
                padding: 0px 5px;
                border-radius: 5px;
              }
              //   .important {
              //     background-color: var(--gray-1);

              //     // background-color: red;
              //     color: rgb(230, 224, 224);
              //   }
              .important {
                background-color: var(--gray-1);
                color: rgb(146, 140, 140);
              }
            }
          }
        }
      }
    }
  }
}
